body {
	background-color: rgba(0, 255, 0, 1);
}

h1 {
	color: purple;
	font-family: 'Silkscreen', arial, sans-serif;
}

p {
	color:red;
	font-style: italic;
	font-size: 24px;
}

a {
	font-size: 30px;
}

h2 {
	font-weight: bold;
	font-family: Arial;
	font-weight: 100;
}