html 
	{
	height: 100%;
	width: 100%;
}

body {
	/*background-image: url("../images/101indeximage.png");*/
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 100%;
	width: 100%;
	margin: 0; 
}

h1 {
	color: purple;
	font-family: 'Press Start 2P', cursive, Arial;
	text-align: center;
}

p.center {
	margin-left: auto;
	margin-right: auto;
	width: 6em;
	color:#EDD92C;
	font-family: 'VT323';
	font-size: 32px;
	width:425px;
	text-align:center;
}

a {
	font-size: 30px;
	font-family: 'VT323';
	text-align: center;
}

h2 {
	font-weight: bold;
	font-family: 'VT323';
	font-weight: 100;
	text-align: center;
}

#toppic{
	height: 100%;
	width: 80%;
	overflow: auto; 
	/*position: relative;*/
	background-image: url("../images/toppic.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	margin-left: 9.5%;
}

#bottompic2{
	height: 100%;
	width: 80%;
	overflow: auto;
	position: relative;
	background-image: url("../images/bottompic2.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin-left: 9.5%;
}