html 
	{
	height: 100%;
	width: 100%;
}

body {
	/*background-image: url("../images/101indeximage.png");*/
	background-color: black;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	height: 100%;
	width: 100%;
	margin: 0; 

}

h1 {
	color: black;
	font-family: 'Satisfy', 'Playball', cursive;
	font-size: 36px;
	margin-right: 50px;
	float: right;
}	

p.center {
	margin-left: auto;
	margin-right: auto;
	width: 6em;
	color:#EDD92C;
	font-family: 'VT323';
	font-size: 32px;
	width:425px;
	text-align:center;
}

a {
	font-size: 30px;
	font-family: 'VT323';
	text-align: center;
}

h2 {
	font-weight: bold;
	font-family: 'VT323';
	font-weight: 100;
	text-align: center;
}

#toppic{
	height: 100%;
	width: 80%;
	overflow: auto; 
	/*position: relative;*/
	background-image: url("../images/toppic.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	margin-left: auto;
	margin-right: auto;
}

#bottompic4{
	height: 100%;
	width: 80%;
	overflow: auto;
	position: relative;
	background-image: url("../images/bottompic4.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: scroll;
	margin-left: auto;
	margin-right: auto;
	/*margin-bottom: 100%;*/
}

.movie_title {
	position: relative;
	top: 50px;
	left: 20px;
	float: left;
}

/*.synopsis {
	position: relative;
	top: 20px;
	right: 20px;
	float: right;
}*/
